/* ------------------------------------darkmode toggle--------------------- */

.switch {
    position: absolute;
     margin-top: -0.5rem;
    right: 4rem; 
    
  }
  
  
  label {
    width: 60px; /* Adjust the width of the toggle */
    height: 30px; /* Adjust the height of the toggle */
    position: relative;
    display: block;
    background: #A9F5FF;
    border-radius: 20px; /* Half of the height to make it round */
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.4), inset 0px -2px 5px rgba(255, 255, 255, 0.4);
    cursor: pointer;
  }
  
  label:after {
    content: "";
    width: 20px; /* Adjust the width of the inner toggle */
    height: 20px; /* Adjust the height of the inner toggle */
    position: absolute;
    top: 5px; /* Adjust the top position to center vertically */
    left: 5px; /* Adjust the left position to center horizontally */
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 15px; /* Half of the height to make it round */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 20;
  }
  
  input {
    width: 0;
    height: 0;
    visibility: hidden;
    
  }
  
  input:checked + label {
    background: #242424;
  }
  
  input:checked + label:after {
    left: 54px; /* Adjust the left position to move the toggle */
    transform: translateX(-100%);
    background: linear-gradient(180deg, #777, #3a3a3a);
  }
  
  label,
  label:after {
    transition: 0.3s;
  }
  
  label:active:after {
    width: 30px; /* Adjust the width on active state */
  }
  
  .sun{
    font-size: 13px;
    position: absolute;
    margin-top: -1.3rem;
    margin-left: 0.6rem;
    
  }
  
  .moon{
    font-size: 13px;
    margin-top: -1.3rem;
    position: absolute;
    margin-left: 2.5rem;
    
  }

  /* ----------------dark mode css------------ */
.dark-mode {
    background-color: black;
    color: #f3f3f3;
  }
  
  .dark-mode .icon {
    filter: brightness(0) invert(1);
  }
  
  .dark-mode .gradient-circle{
    background: none
  }
  .dark-mode nav ul li a {
    color: #f3f3f3;
  }
  .dark-mode .quote-container {
    background-color: rgba(169, 224, 232, 0.6);    
  }

  .dark-mode .dropdown-header {
    box-shadow: 0 8px 16px rgba(249, 248, 248, 0.3);
  }

  .dark-mode .dropdown-header:hover {
    box-shadow: 0 8px 16px rgba(7, 114, 123, 0.644);
  }
  .dark-mode .cursor {
    background-color: rgba(255, 251, 251, 0.7);
  }
  .dark-mode .button1:hover {
    background-color: rgba(224, 241, 241, 0.5);
    color: black;
  }
  .dark-mode h1 span{
    color: rgb(121, 212, 248);
  }
  
