body {
    margin: 0;
    font-family: Arial, sans-serif;
    transition: background-color 0.5s, color 0.5s;
    overflow: hidden;
}

.container {
    display: flex;
    overflow: hidden;
}



/* ------------------------header bar----------------------------- */
.header_container{
    width: 100%;
    position: relative;
    height: 100px;
    top: 0;
    position: fixed;
    display: flex;

    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

#menu{
    margin-left: 20rem;
    margin-top: 0.5rem;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin-right: 6rem;
    font-weight: 600;
    font-family: "Anta", sans-serif;
    
}
nav ul li a{
    color: #0a0a0a;
    text-decoration: none;
    font-size: 20px;
    position:relative
    
    
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position:absolute;
    left: 0;
    bottom: -6px;
    transition: 0.4s;
}
nav ul li a:hover::after{
    width: 100%;
    
}

.logo{
    /* margin-top: 1rem; */
    width: 12rem;
    margin-left: 3rem;
}
/* ------------------------header bar----------------------------- */



/* ----------------------------left------------------------------- */
.sidebar {
    width: 25%;
    height: 100vh;
    padding: 20px;
    box-shadow: 3px 0 20px rgba(132, 219, 231, 0.4);    
}

h1{
    margin-top: 9rem;
    margin-left: 2rem;
    font-family: "Anta", sans-serif;
    font-size: 2.3rem;
    font-weight: 700;
}
.sidebar p{
  font-family: "Anta", sans-serif;
    margin-top: 2rem;
    margin-left: 2rem;
    
}
.category_container select {
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 17px;
    border-radius: 18px;
    background-color: #A9F5FF;
    box-shadow: 0 8px 16px rgba(7, 7, 7, 0.6); 
    transition: box-shadow 0.3s ease-in-out;
    outline: none;
    margin-left: 2rem;
    margin-top: 2rem;
    color: rgb(0, 0, 0,0.6);
  }


  .category_container select:hover {
    box-shadow: 0 6px 12px rgba(160, 132, 231, 0.8);
  }

  /* ****** > slide ****** */
.slide_container i{
    font-size: 1.6rem;
}

.slide_container {
    position: relative;
    width: 70%;
    margin-top: 11rem;
    margin-left: 3rem;
    font-size: 1em;
    transition: transform 0.4s ease-in-out;
}

.slide_container .slide {
    position: absolute;
    bottom: -4px;
    right: 0;
    left: 25px;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: 0.5s ease-in-out;
    display: flex;
    align-items: center;
}

.slide_container:hover .slide {
    width: 100%;
}



.slide_container .slide .text {
    text-transform: uppercase;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.slide_container:hover{
    transform: scale(1.1);
}

/* ----------------------------left------------------------------- */






/* ---------------------------------right-------------------- */
.main-content {
    flex-grow: 1;
    padding-left: 3rem;
    margin-top: 20%;
}

.image_container img{
    position: absolute;
    width: 25rem;
    margin-top: -8.5rem;
    margin-left: 3.5rem;
}
.wrapper {
    width: 750px;
    margin-left: 3.5rem;
    margin-top: 3.5rem;

    
  }
  
  .quote-container {
    position: relative;
    width: 85%;
    background-color: rgba(132, 219, 231, 0.4);    
    padding-top: 50px;
    padding-right: 95px;
    padding-bottom: 50px;
    padding-left: 20px;
    
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    /* position: relative; */
    border-radius: 8px;
    text-align: center;
    font-size: 20px;
    
    animation: black-glow 2s infinite alternate;
    height: 25vh;
  }
  
  
  
  .white-glow{
    animation: white-glow 2s infinite alternate; /* Add glow animation */
  }
  
  @keyframes white-glow {
    0% {
      box-shadow: 0 20px 30px rgba(255, 255, 255, 0.3);
    }
    100% {
      box-shadow: 0 20px 30px rgba(255, 255, 255, 0.2);
    }
  }
  
  @keyframes black-glow {
    0% {
      box-shadow: 0 20px 40px rgba(53, 52, 52, 0.3);
    }
    100% {
      box-shadow: 0 20px 40px rgba(53, 52, 52, 0.3);
    }
  }
  

  /* ------------------------------buttons---------- */

  .controls {
    display: flex;
    align-items: center;
    margin-top: 4rem;
  }
  .button1{
    z-index: 20;
    margin-top: -10.2rem;
    background-color: rgba(74, 74, 74, 0.77);
    border: none;
    padding: 5px;
    
    transition: transform 0.4s ease-in-out;
  }
  .next {
    margin-left: 13.9rem;
  }
  .prev{
    margin-left: 3.7rem;
  }
  .next i, .prev i{
    width: 5rem;
    font-size: 1.3rem;
    color: white;
  }
  .random{
    width: 7rem;
    font-size: 1.1rem;
    margin-left: 14.5rem;
    color: white;
  }

  .button1:hover {
    background-color: rgba(112, 117, 119, 0.8);
    
  }
  .button1:active {
     transform: scale(0.9); 
   }
  


  .interest{
    margin-top: -28rem;
    margin-left: -4rem;
    display: flex;
    flex-direction: column;
    z-index: 20;
    box-shadow: 0 13px 20px rgba(7, 7, 7, 0.4);
    border-radius: 2rem;
    background-color: rgba(74, 74, 74, 0.77);

    
  }
  .button2{
    border: none;
    margin-top: 1rem;
    font-size: 1rem;
    background: none;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    transition: transform 0.3s ease-in-out;
    color: white;
  }
  .decrease{ 
    margin-bottom: 1rem;
  }
  .button2:hover {
    transform: scale(1.1);
    color: rgb(255, 255, 255,0.8);
  }
  .button2:active {
     transform: scale(0.9); 
   }

  
  
  /* ---------------------------------right-------------------- */


  
  /* ------------------------------------darkmode toggle--------------------- */

  .switch {
    position: absolute;
     margin-top: -0.5rem;
    right: 4rem; 
    
  }
  
  
  label {
    width: 60px; /* Adjust the width of the toggle */
    height: 30px; /* Adjust the height of the toggle */
    position: relative;
    display: block;
    background: #A9F5FF;
    border-radius: 20px; /* Half of the height to make it round */
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.4), inset 0px -2px 5px rgba(255, 255, 255, 0.4);
    cursor: pointer;
  }
  
  label:after {
    content: "";
    width: 20px; /* Adjust the width of the inner toggle */
    height: 20px; /* Adjust the height of the inner toggle */
    position: absolute;
    top: 5px; /* Adjust the top position to center vertically */
    left: 5px; /* Adjust the left position to center horizontally */
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 15px; /* Half of the height to make it round */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 20;
  }
  
  input {
    width: 0;
    height: 0;
    visibility: hidden;
    
  }
  
  input:checked + label {
    background: #242424;
  }
  
  input:checked + label:after {
    left: 54px; /* Adjust the left position to move the toggle */
    transform: translateX(-100%);
    background: linear-gradient(180deg, #777, #3a3a3a);
  }
  
  label,
  label:after {
    transition: 0.3s;
  }
  
  label:active:after {
    width: 30px; /* Adjust the width on active state */
  }
  
  .sun{
    font-size: 13px;
    position: absolute;
    margin-top: -1.4rem;
    margin-left: 0.6rem;
    
  }
  
  .moon{
    font-size: 13px;
    margin-top: -1.3rem;
    position: absolute;
    margin-left: 2.7rem;
    
  }

  /* ----------------dark mode css------------ */
.dark-mode {
    background-color: black;
    color: #f3f3f3;
  }
  
  .dark-mode .icon {
    filter: brightness(0) invert(1);
  }
  
  .dark-mode .gradient-circle{
    background: none
  }
  .dark-mode nav ul li a {
    color: #f3f3f3;
  }
  .dark-mode .quote-container {
    background-color: rgba(169, 224, 232, 0.6);    
  }

  .dark-mode .category_container select {
    box-shadow: 0 8px 16px rgba(249, 248, 248, 0.6);
  /* ----------------dark mode css------------ */
  }

  .dark-mode .category_container select:hover {
    box-shadow: 0 6px 12px rgba(160, 132, 231, 0.8);
  }
  
